* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #4eb9f8;
  text-shadow: 0 0 10px#4eb9f8;
  transition: transform 0.3s;
}

.hero {
  background-color: #b3d9f0;
  padding: 50px 20px;
}

.hero p {
  margin-top: 10px;
  padding: 10px 0;
}

.hero img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hero li {
  list-style-type: none;
  display: inline-block;
}

h1 {
  margin-bottom: 20px;
  padding: 10px 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background-color: rgb(156, 153, 157);
  padding: 40px 20px;
}

.project-grid {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
  overflow: hidden;
  width: 300px;
  padding: 15px;
}

.project-grid p {
  margin-top: 10px;
}

.project-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons img {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
